body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    height: 100%  
}

html {
    height: 100%;
}

#homepage {
    background: url(Website_Background.jpg);
    background-size: 100%;
    background-position: 0px -200px;
    background-repeat: no-repeat;
}

#aboutMe {
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

#login {
	-webkit-animation: fade-in 1s ease;
    -moz-animation: fade-in 1s ease;
    -o-animation: fade-in 1s ease;
    animation: fade-in 1s ease;

	background-color: rgb(152, 218, 208);
}

a.topbar {
	display: inline-block;
	text-decoration : none; 
	color : black;
	padding: 10px 10px;
    float: right;
}

a.topbar:hover {
	/*background-color: teal;*/
    color: #FFA62F;
    /*text-shadow: 2px 2px black;*/
    background-color: rgba(0, 0, 0, 0.4);
}

header.topbar{
	/*background-color: black;*/
	position: fixed;
	width: 100%;
	/*height: 50px;*/
	/*opacity: 0.7;*/
	z-index: 1;
	top: 0;
	left: 0;
	font-size: 20px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
  	-moz-user-select: none; /* mozilla browsers */
  	-khtml-user-select: none; /* webkit (konqueror) browsers */
  	-ms-user-select: none; /* IE10+ */
}

#content{
	margin-top: 100px;
	z-index: 0;
	position: absolute;
}

h1 {
	padding: 10px;
	margin: 75px;
	text-align: center;

    font-family: "Lato", Helvetica, Arial, sans-serif;

	/*font-family: "Candara";*/
	font-size: 75px;
	font-weight: bold;
}

p {
	font-family: 'Geneva';
	font-size: 15px;
	color: black;
	text-align: center;
	padding: 0px 200px;
}

img { 
  	display: inline-block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 500px;
  	padding-bottom: 50px;
    height: 400px;
}

/*p {
	font-family: "Times New Roman";
	color: green;
}*/

@keyframes fadein {
    from { opacity: 0; top:0px; }
    to   { opacity: 1; top:5px;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; top:0px; }
    to   { opacity: 1; top:5px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; top:0px; }
    to   { opacity: 1; top:5px;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; top:0px; }
    to   { opacity: 1; top:5px;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; top:0px; }
    to   { opacity: 1; top:5px;}
}






@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#animate-enter {
	text-align: center;
	font-size: 3.1em;
    font-family: 'Geneva';
    font-weight: 200;
    color: black;
    opacity: 0;
    -webkit-animation: fade-in 1s ease forwards;
    -moz-animation: fade-in 1s ease forwards;
    -o-animation: fade-in 1s ease forwards;*/
    animation: fade-in 1s ease forwards;
    -webkit-animation-delay: 1.5s; /* Safari */
   	animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
}


#animate-instructions {
	padding-top: 100px;
	font-size: 3.1em;
    font-family: 'Geneva';
    font-weight: 200;
    color: white;
    opacity: 0;
    -webkit-animation: fade-in 1s ease forwards;
    -moz-animation: fade-in 1s ease forwards;
    -o-animation: fade-in 1s ease forwards;*/
    animation: fade-in 1s ease forwards;
    -webkit-animation-delay: 1s; /* Safari */
   	animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;

    padding: 10px;
    margin: 75px;
    text-align: center;

    font-family: "Lato", Helvetica, Arial, sans-serif;

    /*font-family: "Candara";*/
    font-weight: bold;

    /*-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       /*-moz-animation: fadein 2s; /* Firefox < 16 */
        /*-ms-animation: fadein 2s; /* Internet Explorer */
         /*-o-animation: fadein 2s; /* Opera < 12.1 */
            /*animation: fadein 2s;*/

}

h1 {
    padding-top: 70px;
    margin-bottom: 40px;
}


input[type="checkbox"] {
    display:none;
}

label:before {
    border-radius: 25px;
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    /*margin-right: 10px;
    position: absolute;
    left: 0;*/
    bottom: 1px;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}


input[type="checkbox"]:before {
    border-radius: 3px;
    display: inline-block;
}

input[type="checkbox"]:checked + label:before {
    display:inline-block;
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.5em;
}

#images {
    text-align: center;
}

a.aboutmeTopBar {
    color: white;
}

#aboutMeHeader {
    color: white;
}

#aboutMeP {
    color: white;
}



#container {
    position: relative;
    z-index: 1;
    height: 100%;
}

#background {
    position: absolute;
    z-index: -1;
    /*top: 47px;
    bottom: 100px;*/
    left: 0;
    right: 0;
    background: url("https://farm3.staticflickr.com/2730/4122135874_9c70a29e94_o.jpg") center center;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

#ttt {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 150px;
    padding-bottom: 50px;
}

#tttreset {
    background: none;
    border: none;
}

#tttreset:hover {
    /*background-color: teal;*/
    color: #FFA62F;
    /*text-shadow: 2px 2px black;*/
    background-color: rgba(0, 0, 0, 0.4);
}

canvas {
    background-color: #FFA62F;
    cursor: pointer;
}

#mecontainer {
    background: white;
    /* width: 1000px; */
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}

img {
    text-align: left;
}
