#todo {
	-webkit-animation: fade-in 1s ease;
    -moz-animation: fade-in 1s ease;
    -o-animation: fade-in 1s ease;
    animation: fade-in 1s ease;

	background-color: rgb(152, 218, 208);
}

body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

label {
	display: inline-block;
}

.checkbox {
	display: inline-block;
}

#userInput {
	position:absolute; 
	top:500px; 
	/*left:5%; */
	width:40%;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#submit-button {
	position:absolute; 
	top:550px; 
	/*left:5%; */
	width:5%;
	margin-bottom: 50px;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: whitesmoke;
    border-radius: 20px;
}

#center {
	text-align: left;
}